.zoom {
  position: fixed;
  /* deixando o elemento na posição desejada */
  right: 10px;
  top: 65px;
  /* apenas para aparência */
  background-color: white;
  border: 1px solid rgb(136, 135, 135);
  width: 32%;
  height: 90vh;
  transition: 0.2s;
  padding-bottom: 50px;
  
}

.zoom:hover {
  transform: scale(1.2);
  margin: 80px;
  height: 80%;
  display: flexbox;
}
