.zoom {
  position: sticky;
  top: 50px;
  background-color: white;
  border: 1px solid rgb(136, 135, 135);
  width: 32%;
  min-height: 30%;
  transition: 0.2s;
  overflow: auto;
  padding-bottom: 10%;
  max-height: 75%;
  float: right;
}

.zoom:hover {
  transform: scale(1.2);
  margin: 80px;
  overflow: scroll;
  padding-bottom: 15%;
  z-index: 1;
}
